[submodule ".registry"]
	path = .registry
	url = https://github.com/rgenomicsetl/rgenomicsetl.r-universe.dev
	branch = HEAD
[submodule "RBCFTools"]
	path = RBCFTools
	url = https://github.com/RGenomicsETL/RBCFTools
[submodule "Rduckhts"]
	path = Rduckhts
	url = https://github.com/RGenomicsETL/duckhts
	subdir = r/Rduckhts
